body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    --var-load-time: 1000ms;
    --var-banner-time: 1000ms;
    --var-footer-time: 1000ms;
    --var-projects-time: 1000ms;
    --var-skills-time: 1000ms;
}
/* nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 99999;
    box-shadow: 0 2px 10px 5px black;
    animation: nav-load var(--var-load-time) ease-in;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
#menu, #close {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 30px;
    opacity: 0;
}
nav input {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 24.5px;
    transform: scale(2);
    opacity: 0;
}
nav ul li {
    transition: 0.5s;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}
nav ul li:hover {
    transform: scale(1.2);
}
/* banner */
.banner {
    margin: 150px 0 50px 0;
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    min-height: 55vh;
    animation: banner-load var(--var-banner-time) ease-in;
}
.banner img {
    width: 30%;
    box-shadow: 0 0 5px 3px black;
    border-radius: 5px;
}
/* footer */
footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: footer-load var(--var-footer-time) ease-in;
}
.contact {
    box-shadow: 0 0 10px 5px black;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.instagram, .whatsapp, .github, .codepen, .freecodecamp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instagram:hover > a i, .whatsapp:hover > a i, .github:hover > a i, .codepen:hover > a i, .freecodecamp:hover > a i {
    transform: translateY(-5px);
}
.instagram a, .whatsapp a, .github a, .codepen a, .freecodecamp a {
    color: black;
    text-decoration: none;
}
.instagram a i, .whatsapp a i, .github a i, .codepen a i, .freecodecamp a i {
    transition: 0.5s ease-in-out;
    font-size: 2.5em;
}
.instagram a h3, .whatsapp a h3, .github a h3, .codepen a h3, .freecodecamp a h3 {
    font-size: 0.5em;
}
.contact img {
    width: 50px;
}
/* projects */ 
main h2 {
    margin-top: 150px;
    text-align: center;
    font-size: 2em;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    animation: projects-load var(--var-projects-time) ease-in;
}
.projects h3 {
    font-size: 1em;
}
.projects img {
    width: 50%;
}
.column-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.column-projects img {
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px black;
}
.row-projects {
    display: flex;
    gap: 10px;
    overflow: auto;
    margin: 0 40px;
}
.row-projects img {
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px black;
    margin: 5px;
}
/* skills section */
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 150px 0 50px 0;
    color: white;
    text-shadow: 3px 1px black;
}
.skills-container h3 {
    font-size: 1.5em;
}
.skills-container {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 90%);
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 5px black;
    border-radius: 10px;
    box-sizing: border-box;
    animation: skills-load var(--var-skills-time) ease-in ;
}
.skills-container img {
    width: 50px;
}
.skills-container h4 {
    cursor: pointer;
}
.front-end {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 0 5px 1px black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    font-size: 0.8em;
}
.html, .css, .javascript, .bootstrap, .jquery, .react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}
.back-end {
    box-shadow: 0 0 5px 2.5px black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    font-size: 0.8em;
}
.php {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}
/* load animation */
@keyframes nav-load {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: none;
    }
}
@keyframes banner-load {
    from {
        transform: translateX(2600px);
    }
    to {
        transform: none;
    }
}
@keyframes footer-load {
    from {
        transform: translateY(2500px);
    }
    to {
        transform: none;
    }
}
@keyframes projects-load {
    from {
        transform: scale(0);
    }
    to {
        transform: none;
    }
}
@keyframes skills-load {
    from {
        transform: scale(0);
    }
    to {
        transform: none;
    }
}
/* responsive */
@media (max-width: 425px) {
    nav input:checked ~ #menu {
        transition: 0.2s;
        opacity: 0;
        transform: rotate(90deg);
    }
    nav input:checked ~ #close {
        transform: rotate(180deg);
        opacity: 1;
        transition: 1s;
    }
    nav input:checked ~ ul {
        right: -10px;
    }
    nav {
        justify-content: space-around;
    }
    nav ul{
        box-shadow: 0px 2px 10px 5px black;
        top: 80%;
        right: -500px;
        border-radius: 5px;
        position: absolute;
        overflow: hidden;
        padding: 10px;
        gap: 40px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: 0.5s ease-in-out;
    }
    #menu {
        opacity: 1;
    }
    #close {
        opacity: 0;
    }
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        font-size: 0.8em;
        min-height: 444px;
    }
    .banner img {
        width: 120px;
    }
    /* footer */
    .instagram a i, .whatsapp a i, .github a i, .codepen a i, .freecodecamp a i {
        font-size: 1.5em;
    }
    .instagram a h3, .whatsapp a h3, .github a h3, .codepen a h3, .freecodecamp a h3 {
        font-size: 0.2em;
    }
    /* skills section */
    .front-end {
        flex-wrap: wrap;
    }
    .back-end {
        flex-wrap: wrap;
    }
}